<!-- 

homepage.html

This document outlines the homepage of the website.

-->

<!DOCTYPE html>
<html>
	<head>
		<title>Budget Tracker</title>
	</head>
	<body>
		<h2><font color="#990033">Budget Tracker</font></h2>

		<!-- links -->
        <p> {{ username }}   |
			<a href="http://localhost:5000/update_financial_history">Update Financial History</a> |
			<a href="http://localhost:5000/goal">My Goal</a>   |
			<a href="http://localhost:5000/logout">Logout</a>   |
            <a href="http://localhost:5000/update_password">Update Password</a> </p>
	   	<hr />

		<!-- Displays any errors that occur (if the amount was invalid and why) -->
        {% if empty %}
        <p> No financial history yet. Visit <a href="http://localhost:5000/update_financial_history">this page</a> to begin filling out financial history.</p>

		<!-- homepage content -->
		{% else %}
		<form method="POST">
			<table>
				<tr><td> <p>Start Date </label> </p></tr>
                <tr>
                    <!-- First month field  -->
                    <td><label for="month1">Month:  </label></td>
                    <td>
                        <select name="month1" id="month1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>

                    <!-- first day field -->
                    <td><label for="day1">  Day:  </label></td>
                    <td>
                        <select name="day1" id="day1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </td>

                    <!-- first year field -->
                    <td><label for="year1">  Year:  </label></td>
                    <td>
                        <select name="year1" id="year1">
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </td>
                </tr>

				<tr><td> <p>End Date|  </p> </td></tr>

				<tr>
                    <!-- second month field -->
                    <td><label for="month2">Month:  </label></td>
                    <td>
                        <select name="month2" id="month2">
							<option value="12">12</option>
							<option value="11">11</option>
							<option value="10">10</option>
							<option value="9">9</option>
							<option value="8">8</option>
							<option value="7">7</option>
							<option value="6">6</option>
							<option value="5">5</option>
							<option value="4">4</option>
							<option value="3">3</option>
							<option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </td>

                    <!-- second day field -->
                    <td><label for="day2">  Day:  </label></td>
                    <td>
                        <select name="day2" id="day2">
							<option value="31">31</option>
							<option value="30">30</option>
							<option value="29">29</option>
							<option value="28">28</option>
							<option value="27">27</option>
							<option value="26">26</option>
							<option value="25">25</option>
							<option value="24">24</option>
							<option value="23">23</option>
							<option value="22">22</option>
							<option value="21">21</option>
							<option value="20">20</option>
							<option value="19">19</option>
							<option value="18">18</option>
							<option value="17">17</option>
							<option value="16">16</option>
							<option value="15">15</option>
							<option value="14">14</option>
							<option value="13">13</option>
							<option value="12">12</option>
							<option value="11">11</option>
							<option value="10">10</option>
							<option value="9">9</option>
							<option value="8">8</option>
							<option value="7">7</option>
							<option value="6">6</option>
							<option value="5">5</option>
							<option value="4">4</option>
							<option value="3">3</option>
							<option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </td>

                    <!-- second year field -->
                    <td><label for="year2">  Year:  </label></td>
                    <td>
                        <select name="year2" id="year2">
							<option value="2024">2024</option>
							<option value="2023">2023</option>
							<option value="2022">2022</option>
							<option value="2021">2021</option>
							<option value="2020">2020</option>
							<option value="2019">2019</option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
                            <option value="2010">2010</option>
                        </select>
                    </td>
                </tr>

				<!-- Submit button -->
				<tr>
            		<td>Adjust Data to Selected TimeFrame: <input type="submit" value="Submit"></td>
				</tr>
            </table>
		</form>

            {% if error %}
            <p color="#FF0000">{{ error }}</p>
            {% endif %}

            {% if show %}
            <h3>Income: ${{ income }} </h3>
            <h3>Expenses: ${{ expenses }} </h3>
            <h3>Net Difference: ${{ net }} </h3>

            <table>
                <tr>
                    <td> <img src="/static/bar_graph.png" alt="Income vs. Expense Report" height="300" width="300"> </td>
                    <td> <img src="/static/pie_chart1.png" alt="Income Breakdown Chart" height="300" width="300"> </td>
                    <td> <img src="/static/pie_chart2.png" alt="Expense Breakdown Chart" height="300" width="300"> </td>
                </tr>
            </table>

            <hr />
            <h4>Financial History</h4>
            <main role="main" class="container">
                <p style="margin-bottom: 2rem;white-space:pre-wrap;">{{transactions}}</p>
            </main>
            {% endif %}
		{% endif %}
        <p><br/>Local Time: {{ today }}</p>
	</body>
</html>
