<!-- 

homepage.html

This document outlines the homepage of the website.

-->

<!DOCTYPE html>
<html>
	<head>
		<title>Budget Tracker</title>
	</head>
	<body>
		<h2><font color="#990033">Budget Tracker</font></h2>

		<!-- links -->
        <p> {{ username }}   |
			<a href="http://localhost:5000/update_financial_history">Update Financial History</a> |
			<a href="http://localhost:5000/goal">My Goal</a>   |
			<a href="http://localhost:5000/logout">Logout</a>   |
            <a href="http://localhost:5000/update_password">Update Password</a> </p>
	   	<hr />

		<!-- Displays any errors that occur (if the amount was invalid and why) -->
        {% if empty %}
        <p> No financial history yet. Visit <a href="http://localhost:5000/update_financial_history">this page</a> to begin filling out financial history.</p>

		<!-- homepage content -->
		{% else %}
		<h3>Income: ${{ income }} </h3>
		<h3>Expenses: ${{ expenses }} </h3>
		<h3>Net Difference: ${{ net }} </h3>
		<table>
			<tr>
				<td> <img src="/static/bar_graph.png" alt="Income vs. Expense Report" height="300" width="300"> </td>
				<td> <img src="/static/pie_chart1.png" alt="Income Breakdown Chart" height="300" width="300"> </td>
				<td> <img src="/static/pie_chart2.png" alt="Expense Breakdown Chart" height="300" width="300"> </td>
			</tr>
		</table>
		{% endif %}
        <p><br/>Local Time: {{ today }}</p>
	</body>
</html>
