<!--

update_financial_history.html

This document outlines the webpage to update a user's financial history.

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Financial History - Budget Tracker</title>
</head>
<body>
    <h2><font color="#990033">Budget Tracker</font></h2>

        <!-- links -->
        <p> {{ username }}   |
			<a href="http://localhost:5000/">Return to Homepage</a> |
			<a href="http://localhost:5000/logout">Logout</a>   |
            <a href="http://localhost:5000/update_password">Update Password</a>
        </p>
        <hr />

        <h3>Update Financial History</h3>
        <p> Enter a new deposit or withdrawal that has been made to one of your financial accounts.</p>

        <!-- Offers the user a form to enter a new transaction -->
        <form method="POST">

            <!-- Type of transaction field -->
            <label for="type">Transaction Type:  </label>
            <select name="type" id="type">
                <option value="withdrawal">Withdrawal</option>
                <option value="deposit">Deposit</option>
            </select>

            <!-- Date of transaction field -->
            <table>
                <tr>
                    <!-- Month of transaction field -->
                    <td><label for="month">Month:  </label></td>
                    <td>
                        <select name="month" id="month">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>

                    <!-- Day of transaction field -->
                    <td><label for="day">  Day:  </label></td>
                    <td>
                        <select name="day" id="day">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </td>

                    <!-- Year of transaction field -->
                    <td><label for="year">  Year:  </label></td>
                    <td>
                        <select name="year" id="year">
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>
                    </td>
                </tr>
            </table>

            <!-- Transaction title field -->
            <label for="title">Title:  </label>
            <input type="text" id="title" name="title">

            <table>
                <tr>
                    <td> <label for="amount">Amount:  $</label> </td>
                    <td> <input type="text" id="amount" name="amount"> </td>
                </tr>
            </table>

            <!-- Transaction category field -->
            <label for="category">Category:  </label>
            <input type="text" id="category" name="category">
            <p>You may use one of the existing categories or enter a new one.</p>
            <p>Existing Categories: {{ categories }}</p>

            <!-- Submit button -->
            <input type="submit" value="Submit">
        </form>

        <!-- Displays any errors that occur (if the amount was invalid and why) -->
        {% if error %}
        <p color="#FF0000">{{ error }}</p>
        {% endif %}

        <!-- Lets the user know if the update was successful -->
        {% if success %}
        <p>Success! Financial history updated! Add more on this page or <a href="http://localhost:5000/">click here to return to the homepage.</a></p>
        {% endif %}

</body>
</html>