<!-- 

update_password.html

This document outlines the webpage to update a user's password.

-->

<!DOCTYPE html>
<html>
    <Head>
        <Title>Update Password - Budget Tracker</Title>
    </Head>
    <body>
        <h2><font color="#990033">Budget Tracker</font></h2>
        <hr />
        <h3>Update Password</h3>
        <p>Enter your new password, {{ username }}.</p>

        <!-- Offers the user a form to enter and submit their new password -->
        <form method="POST">
            <table>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td> <input type="password" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td colspan='2'><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>


        <!-- Displays any errors that occur (if the new password was invalid and why) -->
        {% if error %}
        <p color="#FF0000">{{ error }}</p>
        {% endif %}

        <!-- Lets the user know if the update was successful -->
        {% if success %}
        <p>Success! Your password has been reset. <a href="http://localhost:5000/">Click here to return to the homepage.</a></p>
        {% endif %}
    </body>
</html>

